@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .feature {
    padding: 120px 0;
  }
  .feature-block {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud, #f4f4fd);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feature-icon {
    margin: 24px 100px;
  }
  .feature-title {
    color: var(--brand-color);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
  }
  .feature-text {
    color: var(--color-contact);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    width: 264px;
    flex-direction: column;
  }
  .feature-list {
    display: flex;
    gap: 24px;
  }
}
.feature-item {
  /* flex-basis: calc((100% - 24px * 3) / 4); */
}
