@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-container {
    display: flex;
    align-items: center;
    gap: 121px;
  }
  .header-menu {
    display: flex;
    gap: 40px;
  }
  .header-contact {
    display: block;
    margin-left: 0 auto;
  }
  .menu-open-btn {
    display: none;
  }
  /**--Feature--**/
  .feature {
    padding: 96px 0;
  }
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
  .feature-title {
    text-align: left;
  }
  .feature-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .feature-list {
    display: flex;

    flex-direction: row;
    gap: 72px 24px;
  }
  /**------Customers-----**/
  .customers {
    width: 552px;
    margin: 0 auto;
  }
  .customers-item {
    width: calc((100% - 24px * 2) / 3);
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  /** ------Hero ------ **/
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  /**---Footer---**/
  .footer {
    padding: 96px 0;
  }
  .footer-container {
    width: 552px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .footer-text {
    color: var(--color-btn);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin: 0 auto;
  }
  .footer-container-text {
    text-align: left;
  }
  .footer-media-text {
    text-align: left;
  }
  .footer-input {
    width: 264px;
    opacity: 0.6000000238418579;
  }
  .footer-subscribe-form {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  /**-----Section 4 Team ------**/
  .team-list {
    flex-wrap: wrap;
    gap: 64px 24px;
    flex-direction: row;
  }
  /**-------------------BACKDROP--------------**/
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }

  .do-section {
    display: none;
    padding-bottom: 120px;
  }
}
